html {
  font-size: 62.5%; /* 16px is default, 62.5% is 10px= 1rem */
  box-sizing: border-box; /*border-box avoids padding mess in similar sized elements */
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.header {
  background-color: #36454F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  
}

.header a {
  text-decoration: none;
  color: aliceblue;
}

.header .logo a{
  text-decoration: none;
  background-image: linear-gradient(60deg, #3e35e8, #35e88f); 
  background-clip: text;
  color: transparent;
  margin-left: 1rem;
  font-size: 4.8rem;

}

.header menu {
  display: flex;
  flex-direction: row;
  color: white;
}

.header menu li {
  margin-right: 1.6rem;
  font-size: 2rem;
  color:aliceblue;
}

li {
  list-style-type: none;
}

.footer {
  background-color: #36454F;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.25rem;
  color: aliceblue;
 /* position: fixed;
  bottom: 0;*/
  width: 100%;
}

/* Landing page styles */
.landing {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  min-height: 70vh;
  background: url(../public/images/landing.jpg);
  background-size: cover;
  width: 100%;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-color: rgba(223, 232, 53, 0.4);
  min-height: 70vh;
}

.jumbotron h1 {
  margin-left: 3rem;
  font-weight: 400;
  font-size: 16rem;
  background-image: linear-gradient(60deg, #3e35e8, #35e88f); 
  background-clip: text;
  color: transparent;

}
.about {
  border-top: .4rem solid #36454F;
  display: flex;
  align-items: center;
  min-height: 40vh;
  background-image: linear-gradient(135deg, #3e35e8, #35e88f);
}

.about p {
  margin: 4rem;
  font-size: 2.4rem;
  color: aliceblue;

}

.productBackground {
  min-height: 40vh;   
  background: url(../public/images/landing-bottom.jpg);
  background-size: cover;
  background-position-y: bottom;
  width: 100%;
}

.productBar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-color: rgba(62, 53, 232, 0.4);
}

.productBar button {
  margin: 2rem;
  padding: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: .1rem black solid;
  border-radius: .5rem;
  background-color: gold;
  cursor: pointer;
}

/* Product page styles */

.product {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.product li {
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
}

.product-name {
  font-size: 2.4rem;
  font-weight: bold;
} 

.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

/* Product Screen styles */

.product-details {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
  justify-content: space-around;
  align-items: flex-start;
}

.details-image {
  flex: 2 1 50rem;
  margin: 2rem;
}

.details-image img {
  max-width: 50rem;
  max-height: 50rem;
}

.details-info {
  flex: 1 1 25rem;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.details-order {
  flex: 0 1 25rem;
  padding: 1rem;
  margin-top: 10rem;
  padding-bottom: 1rem;
  border: .1rem grey solid;
  border-radius: .5rem;
}

.quantity-form label {
  padding-right: 1rem;
}

#quantity {
  width: 3rem;
}

.details-order button {
  margin-top: 2rem;
  padding: 1rem;
  width: 25rem;
  border: .1rem black solid;
  background-color: gold;
  cursor: pointer;
}

/* Cart Screen Styles */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  padding: 1rem;
}

.cart-action button {
  margin-top: 2rem;
  padding: 1rem;
  width: 25rem;
  border: .1rem black solid;
  background-color: gold;
  cursor: pointer;
}

.cart-list-container {
  list-style-type: none;
  padding: 1rem;

}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem black solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;

}

.cart-item-image {
  flex: 1 1;
}

.cart-item-name {
  flex: 8 1;
}

.cart-item-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}


/* Form styles */

.form-container {
  background-image: linear-gradient(-135deg, #ff0084, #33001b);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 90vh;

}

.form-content{
  margin-top: 10vh;
  background-color:aliceblue;
  opacity: 0.9;
  width: 32rem;
  padding: 2rem;
  border: .1rem black solid;
  border-radius: .5rem;
}

.form-container section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container input {
  padding: 1rem;
  border: .1rem black solid;
  border-radius: .5rem;
}

.form-container button {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  border: .1rem black solid;
  border-radius: .5rem;
  background-color: gold;
  cursor: pointer;
}